{% extends "auth_base.html" %}{% block title %}Giriş Yap{% endblock %}{% block heading %}Tekrar
merhaba.{% endblock %}{% block intro %}Kaldığın yerden, kendin için devam et.{% endblock %}
{% block form %}<form id="loginForm" class="auth-form" data-auth="login">
  {{ field('email','E-posta','email','email','ornek@eposta.com') }}{{ field('password','Şifre','password','current-password','Şifreni gir') }}<button
    type="submit"
    id="loginBtn"
    class="btn btn-primary btn-lg"
  >
    Giriş Yap {{ icon('arrow') }}
  </button>
</form>{% endblock %}
{% block switch %}Henüz hesabın yok mu?
<a href="/register">Kayıt Ol</a>{% endblock %}
