{% extends "auth_base.html" %}{% block title %}Kayıt Ol{% endblock %}{% block heading %}Kendine
iyi bir başlangıç.{% endblock %}{% block intro %}Hesabını oluştur, ilk adımını
bugün at.{% endblock %}
{% block form %}<form id="registerForm" class="auth-form" data-auth="register">
  {{ field('name','Adın','text','name','Sana nasıl hitap edelim?') }}{{ field('email','E-posta','email','email','ornek@eposta.com') }}{{ field('password','Şifre','password','new-password','En az 8 karakter') }}{{ field('passwordConfirm','Şifre tekrar','password','new-password','Şifreni tekrar gir') }}<button
    type="submit"
    id="registerBtn"
    class="btn btn-primary btn-lg"
  >
    Hesap oluştur {{ icon('arrow') }}
  </button>
</form>{% endblock %}
{% block switch %}Zaten hesabın var mı?
<a href="/login">Giriş Yap</a>{% endblock %}
